
header {
    text-align: center;
    background-color: dark grey;
    position: sticky;
    top: 0;
    z-index: 999;
}


h1 {
    background-color: rgb(53, 56, 56);
    padding: 20px;
    font-size: 60px;
    color: white;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

#title {
    color: #76C617;
    font-family:'Fredoka One', cursive;
}


.sidenav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%; 
    /* width: 375px; Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    /* z-index: 1; Stay on top */
    /* top: 0; Stay at the top */
    left: 0;
    background-color: rgb(243, 243, 243); /* Black */
    
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    padding-left: 10px;
    
  }

  .info-card {
      /* margin-left: 380px;
      padding: 20px */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

.callout {
    border: 0;
}


body {
    background-color: #76C617;
}
  .hide {
      visibility: hidden;
  }



  #search-btn { background-color: #76C617; 
  }

  #target-store-information {
    background-color: #76C617;
    /* background-color: rgb(243, 243, 243); */
  }


  #listings0 {
    border: 5px solid black;
    padding: 15px;
    margin: 10px;
    background-color: rgb(53, 56, 56);
    color: white;
}
#listings0 p {
    line-height: 0px;
    
}
#listings0 h4 {
    line-height: 20px;
}
#listings1 {
    border: 5px solid black;
    padding: 15px;
    margin: 10px;
    background-color: rgb(53, 56, 56);
    color: white;
}
#listings1 p {
    line-height: 0px;
}
#listings1 h4 {
    line-height: 20px;
}
#listings2 {
    border: 5px solid black;
    padding: 15px;
    margin: 10px;
    background-color: rgb(53, 56, 56);
    color: white;
}
#listings2 p {
    line-height: 0px;
}
#listings2 h4 {
    line-height: 20px;
}
#listings3 {
    border: 5px solid black;
    padding: 15px;
    margin: 10px;
    background-color: rgb(53, 56, 56);
    color: white;
}
#listings3 p {
    line-height: 0px;
}
#listings3 h4 {
    line-height: 20px;
} 
#listings4 {
    border: 5px solid black;
    padding: 15px;
    margin: 10px;
    background-color: rgb(53, 56, 56);
    color: white;
}
#listings4 p {
    line-height: 0px;
}
#listings4 h4 {
    line-height: 20px;
}
#listings5 {
    border: 5px solid black;
    padding: 15px;
    margin: 10px;
    background-color: rgb(53, 56, 56);
    color: white;
}
#listings5 p {
    line-height: 0px;
}
#listings5 h4 {
    line-height: 20px;
}
#listings6 {
    border: 5px solid black;
    padding: 15px;
    margin: 10px;
    background-color: rgb(53, 56, 56);
    color: white;
}
#listings6 p {
    line-height: 0px;
}
#listings6 h4 {
    line-height: 20px;
}
#listings7 {
    border: 5px solid black;
    padding: 15px;
    margin: 10px;
    background-color: rgb(53, 56, 56);
    color: white;
}
#listings7 p {
    line-height: 0px;
}
#listings7 h4 {
    line-height: 20px;
}
#listings8 {
    border: 5px solid black;
    padding: 15px;
    margin: 10px;
    background-color: rgb(53, 56, 56);
    color: white;
}
#listings8 p {
    line-height: 0px;
}
#listings8 h4 {
    line-height: 20px;
}
#listings9 {
    border: 5px solid black;
    padding: 15px;
    margin: 10px;
    background-color: rgb(53, 56, 56);
    color: white;
}
#listings9 p {
    line-height: 0px;
}
#listings9 h4 {
    line-height: 20px;
}
#listings10 {
    border: 5px solid black;
    padding: 15px;
    margin: 10px;
    background-color: rgb(53, 56, 56);
    color: white;
}
#listings10 p {
    line-height: 0px;
}
#listings10 h4 {
    line-height: 20px;
}
#listings11 {
    border: 5px solid black;
    padding: 15px;
    margin: 10px;
    background-color: rgb(53, 56, 56);
    color: white;
}
#listings11 p {
    line-height: 0px;
}
#listings11 h4 {
    line-height: 20px;
}
#listings12 {
    border: 5px solid black;
    padding: 15px;
    margin: 10px;
    background-color: rgb(53, 56, 56);
    color: white;
}
#listings12 p {
    line-height: 0px;
}
#listings12 h4 {
    line-height: 20px;
}
#listings13 {
    border: 5px solid black;
    padding: 15px;
    margin: 10px;
    background-color: rgb(53, 56, 56);
    color: white;
}
#listings13 p {
    line-height: 0px;
}
#listings13 h4 {
    line-height: 20px;
}
#listings14 {
    border: 5px solid black;
    padding: 15px;
    margin: 10px;
    background-color: rgb(53, 56, 56);
    color: white;
}
#listings14 p {
    line-height: 0px;
}
#listings14 h4 {
    line-height: 20px;
}
#listings15 {
    border: 5px solid black;
    padding: 15px;
    margin: 10px;
    background-color: rgb(53, 56, 56);
    color: white;
}
#listings15 p {
    line-height: 0px;
}
#listings15 h4 {
    line-height: 20px;
}



  /* Small only */
@media screen and (max-width: 39.9375em) {

    h1 {
        font-size:x-large;
        padding: 5px;
    }
    .sidenav {
        height: 290px;
        width: 100%;
        z-index: 1;
        padding: 5px;
    }

    #listings {
        margin-top: 300px;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: flex-start; 
    }
}




/* Medium and up */
@media screen and (min-width: 40em) {
    #target-store-information {
        margin-left: 350px;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: flex-start; 
    }
}

/* Large and up */
@media screen and (min-width: 64em) {
    #target-store-information {
        margin-left: 200px;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: flex-start; 
    }
}